.center{
	text-align: center;
	font-size: 1.7em;

}
.size{
	font-size: 3em;
}
.center2{
	text-align: center;
}
.header {
background-color:#c0c0c0;
}
.right{
	text-align: right;
}


.haba {
letter-spacing: 3em;
}
.left{
	text-align: left;
}
